<div class="flex items-center justify-center h-full">
  <blockquote>
    <p class="text-xl sm:text-5xl mb-10 text-gray-900 font-serif">
      <%= @quote %>
    </p>
    <footer class="font-sans-serif">
      <div class="text-base sm:text-2xl mb-1 text-gray-700"><%= @author %></div>
      <cite class="text-sm sm:text-base text-gray-700"><%= @source %></cite>
    </footer>
  </blockquote>
</div>
