<blockquote>
  <p class="text-3xl mb-4 text-gray-900"><%= @quote %></p>
  <footer class="">
    <div class="text-xl mb-1 text-gray-700"><%= @author %></div>
    <cite class="text-base text-gray-700"><%= @source %></cite>
  </footer>
</blockquote>
